<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles2.css">
</head>
<body>

    <h1 style="text-align: center;">EngiFest 2022 (22th Feb to 26th Feb)</h1> 
    <h2 style="text-align: center;">Welcome </h2>
    <h3 style="text-align: center;"><%=Fname%> <%=Lname%></h2>

    <br>  <br>  
    <h4 style="text-align: center;" >
        Brace your seatbelts as the lions have come to blow your minds with their provocative and unapologetic hip hop, Music, Jokes and much more.
We bring to you DIVINE, shining bright as a KOHINOOR all the way from BOMBAY TO PUNJAB,Bassi,Papon and much more.
So come experience this unfiltered yet true to the heart extravaganza from 22th February to 26th February!
    </h4>
<div style="text-align: center;"> 
    <table style=" margin: 50px 200px 200px 200px">
        <tr style="text-align: center;">
           <th  style="border:1px solid black;">Dates</th>
           <th style="border:1px solid black;">Events</th>  
        </tr>
   
        <tr style="text-align: center;">
           <td style="border:1px solid black;">22 February</td>
           <td style="border:1px solid black;">Siddhu Moosewala Concert</td>  
        </tr>
   
        <tr style="text-align: center;">
           <td style="border:1px solid black;">23 February</td>
           <td style="border:1px solid black;">Papon Live Concert</td>  
        </tr>
   
        <tr style="text-align: center;">
           <td style="border:1px solid black;">24 February</td>
           <td style="border:1px solid black;">Anubhav Singh Bassi Stand up comedy</td>  
        </tr> 
   
      </table>
</div>
   

   <br>  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

    <h6 style="text-align: center;">
        Following is an one time issued Ticket to the following email account. Kindly take care. The oraganizing team won't be responsible for the misplacement of the following.
    </h6>

   
</body>
</html>